<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="experiencia">
            <h2><span>Experiencia</span> {{experiencia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Titulo</span></dt>
                <dd>
                    <span>{{experiencia.titulo}}</span>
                </dd>
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{experiencia.descripcion}}</span>
                </dd>
                <dt><span>Localizacion</span></dt>
                <dd>
                    <span>{{experiencia.localizacion}}</span>
                </dd>
                <dt><span>Fecha</span></dt>
                <dd>
                    <span>{{experiencia.fecha}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/experiencia', experiencia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
